 .u-section-1 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1)), url("images/hghhy.jpg");
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 648px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1257px;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 736px;
  --animation-custom_in-translate_x: -100px;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-text-1 {
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin: 45px 1035px 0 51px;
}

.u-section-1 .u-image-1 {
  width: 351px;
  height: 351px;
  background-image: url("images/pena-ricky.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 406px;
}

.u-section-1 .u-text-2 {
  font-size: 5rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-weight: 700;
  margin: 9px 486px 0 391px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 348px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 664px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 37px;
    margin-right: 730px;
    margin-left: 39px;
  }

  .u-section-1 .u-image-1 {
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    width: 380px;
    margin-top: 17px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 549px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 369px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 169px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
    width: 340px;
    margin-top: 28px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1018px;
}

.u-section-2 .u-group-1 {
  width: 609px;
  height: auto;
  background-image: none;
  --radius: 40px;
  animation-timing-function: ease;
  min-height: 974px;
  margin: 22px auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 2.25rem;
  font-weight: 700;
  font-family: Poppins;
  text-transform: none;
  width: 270px;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  line-height: 2;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 24px 21px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }
}

.u-block-820d-52:not([data-block-selected]):not([data-cell-selected]),
.u-block-820d-52:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-820d-52:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover > .u-block-820d-52:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-block-820d-52:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-container-layout.hover > .u-block-820d-52:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-block-820d-52:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-block-820d-53:not([data-block-selected]):not([data-cell-selected]),
.u-block-820d-53:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-820d-53:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover > .u-block-820d-53:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-block-820d-53:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-container-layout.hover > .u-block-820d-53:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-block-820d-53:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-block-820d-54:not([data-block-selected]):not([data-cell-selected]),
.u-block-820d-54:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-820d-54:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover > .u-block-820d-54:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-block-820d-54:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-container-layout.hover > .u-block-820d-54:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-block-820d-54:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}.u-section-3 .u-sheet-1 {
  min-height: 344px;
}

.u-section-3 .u-group-1 {
  width: 567px;
  height: auto;
  background-image: none;
  --radius: 40px;
  animation-timing-function: ease;
  min-height: 304px;
  margin: 10px auto 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  line-height: 1;
  margin: 0 34px 0 10px;
}

.u-section-3 .u-text-2 {
  font-family: Poppins;
  font-weight: 700;
  width: 523px;
  margin: -303px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-text-2 {
    margin-top: -291px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 540px;
    margin-top: -3px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 17px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: -278px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    width: 340px;
    margin-top: -10px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
    margin-top: -271px;
  }
}

.u-block-10da-52:not([data-block-selected]):not([data-cell-selected]),
.u-block-10da-52:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-10da-52:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover > .u-block-10da-52:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-block-10da-52:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-container-layout.hover > .u-block-10da-52:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-block-10da-52:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-block-10da-53:not([data-block-selected]):not([data-cell-selected]),
.u-block-10da-53:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-10da-53:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover > .u-block-10da-53:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-block-10da-53:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-container-layout.hover > .u-block-10da-53:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-block-10da-53:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-block-10da-54:not([data-block-selected]):not([data-cell-selected]),
.u-block-10da-54:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-10da-54:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover > .u-block-10da-54:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-block-10da-54:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-container-layout.hover > .u-block-10da-54:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-block-10da-54:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}.u-section-4 .u-sheet-1 {
  min-height: 1122px;
}

.u-section-4 .u-shape-1 {
  width: 567px;
  --radius: 40px;
  height: 1100px;
  margin: 11px auto 0;
}

.u-section-4 .u-text-1 {
  font-family: Poppins;
  font-weight: 700;
  margin: -1088px auto 0;
}

.u-section-4 .u-group-1 {
  width: 487px;
  min-height: 918px;
  margin: 43px auto 0;
}

.u-section-4 .u-container-layout-1 {
  padding-top: 0;
  padding-bottom: 5px;
}

.u-section-4 .u-group-2 {
  width: 253px;
  min-height: 60px;
  margin: 17px auto 0 0;
}

.u-section-4 .u-icon-1 {
  width: 36px;
  height: 36px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 20px auto 0 0;
  padding: 3px;
}

.u-section-4 .u-text-2 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 1.875rem;
  width: 170px;
  margin: -34px auto 0;
}

.u-section-4 .u-group-elements-1 {
  width: 177px;
  min-height: 30px;
  height: auto;
  margin: 11px auto 0 0;
}

.u-section-4 .u-shape-2 {
  width: 140px;
  height: 30px;
  --radius: 25px;
  margin: 0 0 0 auto;
}

.u-section-4 .u-text-3 {
  font-size: 0.75rem;
  font-weight: 700;
  margin: -25px 6px 0 44px;
}

.u-section-4 .u-line-1 {
  width: 34px;
  border-style: dotted;
  transform-origin: left center;
  height: 2px;
  margin: -11px 140px 0 3px;
}

.u-section-4 .u-shape-3 {
  width: 8px;
  height: 8px;
  margin: -5px auto 0 0;
}

.u-section-4 .u-text-4 {
  font-family: Poppins;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 14px 54px 0 0;
}

.u-section-4 .u-text-5 {
  font-size: 1rem;
  font-weight: 700;
  margin: 1px 337px 0 0;
}

.u-section-4 .u-group-3 {
  width: 374px;
  min-height: 137px;
  margin: 14px auto 0 0;
}

.u-section-4 .u-group-elements-2 {
  width: 208px;
  min-height: 30px;
  height: auto;
  margin: 7px auto 0 0;
}

.u-section-4 .u-shape-4 {
  width: 140px;
  height: 30px;
  --radius: 25px;
  margin: 0 31px 0 auto;
}

.u-section-4 .u-text-6 {
  font-size: 0.75rem;
  font-weight: 700;
  margin: -25px 0 0 48px;
}

.u-section-4 .u-line-2 {
  width: 34px;
  border-style: dotted;
  transform-origin: left center;
  height: 2px;
  margin: -11px 171px 0 3px;
}

.u-section-4 .u-shape-5 {
  width: 8px;
  height: 8px;
  margin: -5px auto 0 0;
}

.u-section-4 .u-text-7 {
  font-family: Poppins;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 14px 54px 0 0;
}

.u-section-4 .u-text-8 {
  font-size: 1rem;
  font-weight: 700;
  margin: 1px 225px 0 0;
}

.u-section-4 .u-group-4 {
  width: 298px;
  min-height: 99px;
  margin: -3px auto 0 0;
}

.u-section-4 .u-group-elements-3 {
  width: 209px;
  min-height: 30px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-shape-6 {
  width: 140px;
  height: 30px;
  --radius: 25px;
  margin: 0 32px 0 auto;
}

.u-section-4 .u-text-9 {
  font-size: 0.75rem;
  font-weight: 700;
  width: 160px;
  margin: -25px auto 0;
}

.u-section-4 .u-line-3 {
  width: 34px;
  border-style: dotted;
  transform-origin: left center;
  height: 2px;
  margin: -11px 172px 0 3px;
}

.u-section-4 .u-shape-7 {
  width: 8px;
  height: 8px;
  margin: -5px auto 0 0;
}

.u-section-4 .u-text-10 {
  font-family: Poppins;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 14px 54px 0 0;
}

.u-section-4 .u-text-11 {
  font-size: 1rem;
  font-weight: 700;
  margin: 1px 67px 0 0;
}

.u-section-4 .u-group-5 {
  width: 244px;
  min-height: 58px;
  margin: 55px auto 0 0;
}

.u-section-4 .u-text-12 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 1.875rem;
  width: 156px;
  margin: 20px auto 0;
}

.u-section-4 .u-icon-2 {
  width: 37px;
  height: 37px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: -33px auto 0 0;
  padding: 3px;
}

.u-section-4 .u-group-6 {
  min-height: 201px;
  width: 496px;
  margin: 2px auto 0 0;
}

.u-section-4 .u-group-elements-4 {
  width: 204px;
  min-height: 30px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-4 .u-shape-8 {
  width: 140px;
  height: 30px;
  --radius: 25px;
  margin: 0 27px 0 auto;
}

.u-section-4 .u-text-13 {
  font-size: 0.75rem;
  font-weight: 700;
  margin: -24px 0 0 44px;
}

.u-section-4 .u-line-4 {
  width: 34px;
  border-style: dotted;
  transform-origin: left center;
  height: 2px;
  margin: -11px 167px 0 3px;
}

.u-section-4 .u-shape-9 {
  width: 8px;
  height: 8px;
  margin: -5px auto 0 0;
}

.u-section-4 .u-text-14 {
  font-family: Poppins;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 14px 30px 0 0;
}

.u-section-4 .u-text-15 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0 50px 0 0;
}

.u-section-4 .u-group-7 {
  width: 358px;
  min-height: 130px;
  margin: 5px auto 0 0;
}

.u-section-4 .u-group-elements-5 {
  width: 207px;
  min-height: 30px;
  margin: 8px auto 0 0;
}

.u-section-4 .u-shape-10 {
  width: 140px;
  height: 30px;
  --radius: 25px;
  margin: 0 30px 0 auto;
}

.u-section-4 .u-text-16 {
  font-size: 0.75rem;
  font-weight: 700;
  margin: -25px 0 0 47px;
}

.u-section-4 .u-line-5 {
  width: 34px;
  border-style: dotted;
  transform-origin: left center;
  height: 2px;
  margin: -11px 170px 0 3px;
}

.u-section-4 .u-shape-11 {
  width: 8px;
  height: 8px;
  margin: -5px auto 0 0;
}

.u-section-4 .u-text-17 {
  font-family: Poppins;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 14px 54px 0 0;
}

.u-section-4 .u-text-18 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0 72px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  margin: -961px auto 60px;
  padding: 0;
}

@media (max-width: 991px) {
  .u-section-4 .u-text-5 {
    width: 149px;
  }

  .u-section-4 .u-group-5 {
    margin-left: -5px;
  }

  .u-section-4 .u-group-6 {
    width: 487px;
    margin-left: -4px;
    margin-right: -4px;
  }

  .u-section-4 .u-text-14 {
    margin-right: 21px;
  }

  .u-section-4 .u-text-15 {
    margin-right: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-shape-1 {
    width: 540px;
  }

  .u-section-4 .u-group-4 {
    margin-top: -1px;
  }

  .u-section-4 .u-group-5 {
    margin-top: 53px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-shape-1 {
    width: 340px;
  }

  .u-section-4 .u-group-1 {
    width: 340px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-right: 191px;
  }

  .u-section-4 .u-group-3 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-right: 21px;
  }

  .u-section-4 .u-text-8 {
    margin-right: 191px;
  }

  .u-section-4 .u-group-5 {
    margin-left: 0;
  }

  .u-section-4 .u-group-6 {
    width: 340px;
    margin-left: 0;
    margin-right: auto;
  }

  .u-section-4 .u-text-14 {
    margin-right: 0;
  }

  .u-section-4 .u-text-15 {
    margin-right: 0;
  }

  .u-section-4 .u-group-7 {
    width: 340px;
  }

  .u-section-4 .u-text-17 {
    margin-right: 36px;
  }

  .u-section-4 .u-text-18 {
    margin-right: 54px;
  }
}

.u-block-c328-52:not([data-block-selected]):not([data-cell-selected]),
.u-block-c328-52:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-c328-52:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover > .u-block-c328-52:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-block-c328-52:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-container-layout.hover > .u-block-c328-52:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-block-c328-52:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-block-c328-53:not([data-block-selected]):not([data-cell-selected]),
.u-block-c328-53:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-c328-53:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover > .u-block-c328-53:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-block-c328-53:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-container-layout.hover > .u-block-c328-53:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-block-c328-53:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-block-c328-54:not([data-block-selected]):not([data-cell-selected]),
.u-block-c328-54:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-c328-54:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover > .u-block-c328-54:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-block-c328-54:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-container-layout.hover > .u-block-c328-54:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-block-c328-54:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}.u-section-5 .u-sheet-1 {
  min-height: 163px;
}

.u-section-5 .u-text-1 {
  font-family: Poppins;
  font-weight: 700;
  width: 330px;
  margin: 1px auto 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  letter-spacing: 1px;
  text-shadow: 0 0 0 rgba(0,0,0,0);
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 22px auto 0 411px;
  padding: 3px 23px 4px 21px;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  letter-spacing: 1px;
  text-shadow: 0 0 0 rgba(0,0,0,0);
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -36px 398px 53px auto;
  padding: 2px 16px 4px 14px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-btn-1 {
    margin-left: 289px;
  }

  .u-section-5 .u-btn-2 {
    margin-right: 314px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-btn-1 {
    margin-left: 195px;
  }

  .u-section-5 .u-btn-2 {
    margin-top: -35px;
    margin-right: 195px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-btn-1 {
    margin-top: 24px;
    margin-left: 118px;
  }

  .u-section-5 .u-btn-2 {
    margin-right: 88px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-btn-1 {
    margin-top: 30px;
    margin-left: -2px;
  }

  .u-section-5 .u-btn-2 {
    margin-top: -36px;
    margin-right: 0;
  }
}

.u-block-bc96-52:not([data-block-selected]):not([data-cell-selected]),
.u-block-bc96-52:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-bc96-52:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover > .u-block-bc96-52:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-block-bc96-52:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-container-layout.hover > .u-block-bc96-52:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-block-bc96-52:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-block-bc96-53:not([data-block-selected]):not([data-cell-selected]),
.u-block-bc96-53:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-bc96-53:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover > .u-block-bc96-53:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-block-bc96-53:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-container-layout.hover > .u-block-bc96-53:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-block-bc96-53:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-block-bc96-54:not([data-block-selected]):not([data-cell-selected]),
.u-block-bc96-54:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-bc96-54:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover > .u-block-bc96-54:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-block-bc96-54:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-container-layout.hover > .u-block-bc96-54:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-block-bc96-54:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}